.logo {
    float: right;
    height: 50px;
    margin: 20px;
  }

  .VisualisationTable {
    margin: 0;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    display: flex;
    left: 3%;

  }


@media (min-width:768px) {


}